/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adding Raleway Font */
body {
    font-family: "Raleway", sans-serif;
    background-color: #F5F8FF;
}

/* Shared Styles */
.logo-color {
    color: #4E47FF;
}

.btn-primary{
    color: #ffffff;
    background-color: #4E47FF;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.number {
    font-size: 80px;
    font-weight: bold;
    margin-top: 10px;
    font-family: "Inter", sans-serif;
}

.number-details {
    font-size: 20px;
    color: #00000050;
    margin-top: 10px;
    text-align: center;
}

/* Animation button */
@keyframes example {
    from {background-color: #4E47FF; color: #ffffff;}
    to {background-color: #e786f6; color: #e71616; font-weight: bolder;}
}

.btn-primary:hover {
    /* text-decoration: underline; */
    animation-name: example;
    animation-duration: 1s;
    /* animation-iteration-count: 1; */
    animation-fill-mode: forwards;
}


/* Header Styles */
.header {
    background-image: url("../assets/Hero-bg.png");
    width: 100%;
    height: 650px;
}

/* Navbar Styles */
nav {
    /* border: 2px solid red; */
    max-width: 1140px;
    height: 150px;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 34px;
}

/* Banner Styles */
.banner {
    /* border: 2px solid blue; */
    text-align: center;
    max-width: 900px;
    height: 230px;
    margin: 150px auto;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 35px;
}

/* Action Section Styles */
.action {
    /* border: 2px solid red; */
    max-width: 1140px;
    height: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 20px;
}

.action-description {
    max-width: 520px;
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    margin-bottom: 20px;
}

.action-image {
    border-radius: 48px;
}

/* Users Section Styles  */
.users-container {
    /* border: 2px solid red; */
    max-width: 1140px;
    height: 300px;
    background-color: #4E47FF10;
    border-radius: 24px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-content {
    /* border: 2px solid black; */
    /* text-align: center; */
    max-width: 900px;
    height: 200px;
    /* margin: 0 auto 0; */
    /* padding: 50px 80px; */
}

.users-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.users-numbers {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}


/* Ratings Styles */
.ratings {
    /* border: 2px solid red; */
    width: 1140px;
    margin: 0 auto 100px;
}

.ratings-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.card-container {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.card {
    border: 1px solid #F2EDED;
    background-color: #FFFFFF50;
    border-radius: 14px;
    width: 360px;
    height: 240px;
    box-shadow: 1px 1px -0.5px 1px #757575;
    padding: 24px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    margin-top: 24px;
}

.card-description {
    color: #1E1E1E;
    margin-top: 10px;
    margin-bottom: 24px;
}

.reviewer-container {
    display: flex;
    gap: 10px;
}

.reviewer-image {
    border-radius: 50%;
}

.reviewer-name {
    color: #757575;
    font-weight: 600;
}

.reviewer-date {
    color: #B3B3B3;
}

/* Frame Styles */

.frame {
    /* border: 2px solid red; */
    max-width: 1140px;
    height: 700px;
    background-color: #ffffff;
    margin: 0 auto 50px;
    padding: 70px 150px;
    text-align: center;
    border-radius: 14px;
}

.frame-title {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.frame-description {
    color: #00000050;
    margin-bottom: 20px;
}

.frame-image {
    border-radius: 48px;
    margin-top: 20px;
}

/* Form Styles */
.form {
    /* border: 2px solid red; */
    max-width: 1140px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 10px;
    padding: 70px 0 70px 0;
}

.form-title {
    font-size: 97px;
    font-weight: bold;
    width: 520px;
}

/* .form-main *{
    display: block;
} */

.form-main {
    width: 500px;
}

.form-main input[type="text"], .form-main textarea, .form-main input[type="submit"] {
    width: 100%;
}

.input-style {
    width: 490px;
    height: 70px;
    padding: 20px 32px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
}

.textarea-style {
    width: 490px;
    height: 130px;
    padding: 20px 32px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    font-family: "Inter", sans-serif;
}


.lebel-text {
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 5px;
}

input[type="submit"] {
    margin-top: 10px;
}

/* Footer Styles */
.footer {
    width: 100%;
    height: 428px;
    background-color: #ffffff;
    border: 1px solid #00000020;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    max-width: 530px;
    height: 220px;
}

.footer-title {
    font-size: 100px;
    font-weight: 900;
    /* margin-top: 100px; */
}

.footer-description {
    color: #8987A1;
    margin: 8px 0 20px 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li {
    margin-right: 10px;
}

ul li a {
    text-decoration: none;
    color: #8987A1;
}